#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.container-pages {
  display: flex;
  align-items: center;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 960px;
}
.dark {
  background-color: #1f1b24;
}

.form {
  display: flex;
  gap: 10px;
}
.button {
  padding: 5px 15px;
}
.button:hover {
  background-color: aliceblue;
}
.input {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

.list-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  width: 200px;
  background-color: aliceblue;
  border-radius: 10%;
  padding: 10px;
  transition: 0.3s;
}
.item:hover {
  transform: scale(1.1);
}
.pagination {
  display: flex;
  gap: 5px;
  margin-top: 120px;
}

.aside {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;

  padding: 7.5rem 0;
  border-radius: 30px;
  background-color: rgb(234, 235, 235);
}
.aside-wrapper {
  position: relative;
  width: 20rem;
  padding: 7.5rem 0;

  background-color: rgb(255, 255, 255);
}
.button-clouse {
  position: absolute;
  top: 2%;
  right: 5%;
}
.active-pagination-button {
  background-color: lightblue;
}
.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 416px;
}

.popup {
  position: fixed;
  background-color: lightblue;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
  bottom: 0px;
  opacity: 0;
  transform: translateY(100%);
}
.popup--active {
  opacity: 1;
  transform: translateY(-60%);
}
.popup-button-wrapper {
  display: flex;
  gap: 10px;
}
.popup-title {
  margin-top: 0px;
}
/* @media (max-width: 900px) {
  .container-pages {
    flex-direction: column;
  }
} */
