.popup {
  position: fixed;
  background-color: lightblue;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
  bottom: 0px;
  opacity: 0;
  transform: translateY(100%);
}
.popupActive {
  opacity: 1;
  transform: translateY(-50%);
}
.popupButtonsWrapper {
  display: flex;
  gap: 10px;
}
.popupButton:hover {
  background-color: rgb(227, 239, 239);
}
.popupTitle {
  margin-top: 0px;
}
.popupDark {
  background-color: rgb(89, 123, 123);
  color: white;
}
